@using HrProject.Domain.Entities
@model List<Person>


<div class="card">
    <h1>Personel Listesi</h1>
    <div class="card-body">
        <div class="table-respnsive">
            
        </div>
    </div>
</div>