
@model HrProject.Presentation.ViewModels.PermissionViewModel


<div class="container mt-4">
    <h2>Mevcut İzin Türleri</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>İzin Adı</th>
                <th>Gün Sayısı</th>
                <th>Ücretli mi?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var permissionType in Model.ExistingPermissionTypes)
            {
                <tr>
                    <td>@permissionType.Name</td>
                    <td>@permissionType.NumberOfDays</td>
                    <td>@(permissionType.IsPaid ? "Evet" : "Hayır")</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Yeni İzin Türü Ekle</h2>
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("AddNewPermissionType", Model)
        </div>
    </div>
</div>